name: Issues Generation

concurrency: issues-generation

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]
  pull_request_target:
    types: [opened, reopened]

jobs:
  issue-generation-bot:
    if: ${{ github.event.issue.pull_request || github.event.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Issue Generation
        uses: jromero/issue-generation-action@v1.0.0-beta.3
        id: issues-generation
        with:
          github-token: ${{ secrets.LEARNING_GITHUB_TOKEN }}
          bot-username: buildpack-bot
